:root {
    --clr-bg: hsl(40, 60%, 96%);
    --clr-bg-hover: hsl(40, 60%, 92%);
    --clr-header-main: hsl(20, 30%, 40%);
    --clr-header-sub: hsl(15, 50%, 60%);
    --clr-text: hsl(30, 20%, 30%);
    --clr-button: hsl(25, 35%, 50%);
    --clr-button-hover: hsl(25, 35%, 35%);
    --clr-border-img: hsl(20, 30%, 60%);
    --clr-shadow: rgba(120, 100, 90, 0.1);
    --font-main: "Quicksand", sans-serif;
}

/* General Styles */
body {
    font-family: var(--font-main);
    background-color: var(--clr-bg);
}

/* Styles for the header */
header {
    text-align: center;
}

header h1 {
    font-size: 5rem;
    color: var(--clr-header-main);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px var(--clr-shadow);
}

header h2 {
    font-size: 3rem;
    color: var(--clr-header-sub);
    text-shadow: 1px 1px 2px var(--clr-shadow);
    margin-top: 0;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.5rem;
    color: var(--clr-text);
    margin: 1.5rem 0;
}

/*Styles for the main*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Styles for the box */
.card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 8px 8px 8px var(--clr-shadow);
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: var(--clr-bg-hover); 
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--clr-border-img);
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--clr-text);
}

.card-content p {
    color: var(--clr-text);
    margin: 1rem 0;
}

.btn {
    background-color: var(--clr-button);
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;    
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: var(--clr-button-hover);
}

/* Styles for the footer */
footer {
    margin-top: 1rem; 
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: var(--clr-header-sub);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

footer a:hover {
    color: var(--clr-button-hover);
} 

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .card img {
        margin: 0 auto;
    }
}
